body{margin:0;padding:0;color:#666;background:url('/images/top/bg.gif') repeat;text-align:left;font:12px Tahoma}

ul,li,dl,dt,dd,form,p{margin:0;padding:0;list-style:none}

table input,select,textarea,option{font:100% Verdana;BORDER:1px solid #ccc;COLOR:#333;background:#fff;height:20px;line-height:20px;}

.clear{clear:both;font-size:0;line-height:0;height:0}

img{border:none}

a{color:#666;text-decoration:none;}

a:active,a:focus{outline:none;}

a:hover{color:#f70;text-decoration:underline;}

h1,h2,h3{margin:0;padding:0;display:inline;font-size:12px}

div,table,td{word-break:keep-all;}



#site{margin:0px auto;width:980px; height:100%;
        padding:0 10px;margin-bottom:16px;}

#top{height:131px;overflow:hidden;padding-left:58px; background:#fff url('/images/top/sitebg.gif') repeat-x top left;}



.menul{background:url('/images/top/menul.gif') no-repeat left top;}

.menur{background:url('/images/top/menur.gif') no-repeat right top;height:38px;overflow:hidden;padding:0 0 0 30px;}

#menu{background:url('/images/top/menu.gif') repeat-x left top;}

#menu li{float:left;height:38px;background:url('/images/top/menuli.gif') no-repeat right top; padding:0 12px 0 10px;}

#menu li a{float:left;display:inline;height:38px;line-height:38px;text-align:center;font-weight:bold;color:#fff;padding-left:20px;}

#menu li h3{display:block;padding-right:20px;float:left}

#menu li a:hover,#menu li a.now{text-decoration:none;background:url('/images/top/menuover.gif') no-repeat left top;}

#menu li a:hover h3,#menu li a.now h3{background:url('/images/top/menuover2.gif') no-repeat  right top;}

#menu li.last{background:none;}
			

#sou
{
	width:980px;
   height:50px;
     border: 1px solid gray;                                  	
}
#sou-con
{
   width:700px;
   height:35px;
   margin:10px auto;
                               
}
#sou-input
{
	width:449px;
   height:20px;
   margin:0px 0 0 10px;
   float:left;                                            
}
#sou-button
{
	width:71px;
   height:20px;
   margin:0px 0 0 25px;
   
    float:left;                                    
}	

.button
{
	display:block;
	margin: 0;
padding: 4px 12px 5px 12px;


border: 1px solid #316293;



outline: none;
outline-style: none;
font-size: 1.0em;
font-weight: bold;
font-family: Verdana, Helvetica, Sans-Serif;
                  
}
.button:hover
{
	cursor:pointer;                    
}		 	
#main-content 
{
   width:980px;
   height:200px;                                                      
	
}


#main-content-left {
   width:776px;
   height:200px;  
   float:left;
    border: 1px solid gray;                                          
}
#log
{
	width:200px;
    height:38px;
    display:block; 
    margin:10px 0 0 0;                                                                                                                 
}
#logimg {
	width:200px;
    height:150px;
    display:block; 
}
#main-content-right {
   width:200px;
   height:200px;  
   float:left;  
   border: 1px solid gray;                                
}
#main-content-right a
{
	width: 103px;
	height:38px;
	margin:0;                                      
}
#main-content-right img
{
	
	margin:0;                          
}


/**********用户*******/
#user {
   width:199px;
   height:199px;
}
#images {
   width:100px;
   height:120px;
	float: left;
	
}
#images img {
	margin: 0 auto;
}
#xinxi {
	 width:99px;
   height:120px;
	float: left;
}

#bot {
	width:199px;
   height:79px;
  
}
#bot-bot {
	margin: 30px auto;
}



/**********用户*******/





		  
#main-list {
	width:980px;
   height:300px;  
}
			  
#main-list-top 
{
	width:980px;
   height:33px;
   border-bottom: 1px solid gray;
   background:white;                                                              
	
}

#main-list-top h2 {
	float: left;
    color: #289703;
	margin: 0;
	font-size:18px;
	padding:4px 0 0 3px;                                                                  
}

#main-list-main
{
	width:980px;
   height:260px;
   margin:7px 0 0 0;
   border-top: 1px solid gray;                                                             
}





/**********注册*******/
#reg
{
   width:980px;
   height:600px;
   background:white;
   margin:0 auto;                                        
}


/**********注册*******/



/**********show*******/

#showlist {
	width:980px;
    height:900px;
    border: 1px solid white; 
}
#showlist-left {
	width:200px;
    height:600px;
    border-right: 1px solid white;
	float: left;
}

#showlist-right {
	width:500px;
    height:100%;
border: 1px solid white;
	float: left;
	margin: 0 0 0 10px;
}

#sort {
	width:250px;
	height: 200px;
	border: 1px solid white;
		float: left;
		margin: 5px 0 0 7px;
}


/**********show*******/








                                
table  tr td{
                background: #fff;
                font-size: 15px;
	            color: black;
	            line-height: 2em;
	            text-align: center;
	            font-style: normal;
	border-left: 1px solid black;
	border-right: 1px solid black;
	            
                }
              
/*************info************/  


#info {
	width: 980px;
	height: 329px;
	display: block;
	border-top: 0px solid white;
	margin-top: 10px;
}   
#info-left {
	width: 290px;
	height:320px;
	float: left;
	border: 1px solid white; 
} 
#info-left img {
	margin: 2px 0 0 5px;
}
#info-center {
	width: 480px;
	height: 320px;
	float: left;
	border: 1px solid white;
	background: #E0EEEE;
	margin: 0 0 0 10px;
} 

#info-right {
	width: 180px;
	height: 320px;
	float: left;
	border: 1px solid white;
	margin: 0 0 0 10px 
}         
    
    
.nar {
	width: 980px;
	height: 40px;
	display: block;
	background: white;
	margin-top: 5px;
} 
#font {
	width: 300px;
	height: 18px;
	
}
#font span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0px 0 0 10px;
	
}


#jiben {
	width: 980px;
	height: 300px;
	display: block;
	border: 1px solid white;
	margin-top: 5px;
} 
#nar-bot {
	width: 980px;
	height: 250px;
	display: block;
	border: 1px solid white;
	margin: 2px 0 0 0;
	background: #E0EEEa;
} 

#lo {
	width: 150px;
	height: 20px;
	float: right;
	font-size: 16px;
	color: blue;
	
}            
